<!-- FOOTER -->
<footer>

<div class="inner">
  <p>Última atualização em {{ site.time | date_to_long_string }}. Você está convidado a <a href="https://github.com/fontforge/designwithfontforge.com">contribuir</a> e melhorar <a class="editthispage" href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages{{ page.url | replace: '.html', '.md' }}" target="_blank">essa página</a>.</p>
  <p>Copyright &copy; 2012 - 2024, Os <a href="https://github.com/fontforge/designwithfontforge.com/blob/gh-pages/AUTHORS.txt">Autores</a> do Design With FontForge.</p>
  <p>‘<a href="//designwithfontforge.com"><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Design With FontForge</span></a>’ pela <a xmlns:cc="http://creativecommons.org/ns#" href="http://designwithfontforge.com" property="cc:attributionName" rel="cc:attributionURL">Comunidade FontForge</a> é licenciado sob <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">CC BY-SA 3.0</a>.
</div>

</footer>
